<?xml version="1.0" encoding="UTF-8"?>
<settings>

    <!-- 服务目录配置 -->
    <parameter id="servant.config.master" value="java:///conf/servant.catalog.xml#App" />
	
    <!-- dbcp配置 -->
    <parameter id="dbcp.master" value="java:///conf/dbcp.source.xml#App"/>
	
    <!-- sequeuece配置 -->
    <parameter id="seq.master" value="java:///conf/seq.xml#App"/>
    
    <!-- Access Controller配置 -->
    <parameter id="acm.master" value="java:///conf/acm.xml#App"/>
    <parameter id="session.manager" value="edu.fdu.csms.session.CachedSessionManager" note="会话管理器"/>
    
</settings>